<html lang="en">
    <header class="text-center">
    <h2>Modifier ton mot de passe <%= resource_name.to_s.humanize %></h2>
    </header>

  <body class="text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "Ton email :" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>En attente de confirmation pour : <%= resource.unconfirmed_email %></div>
    <% end %>
<p></p>

    <div class="field">
      <%= f.label :password %> <i>(nouveau mdp)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
    <br />
      <em><%= @minimum_password_length %> caractères minimum</em>
    <% end %>
    </div>
<p></p>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
<p></p>

    <div class="field">
      <%= f.label :current_password %> <i>(mdp actuel pour confirmer vos modifs)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
<p></p>
    <div class="actions">
      <%= f.submit "Modifier" %>
    </div>
  <% end %>
</br>

    <h3>Retourner sur mon profil</h3>

    <p>Tu ne veux plus changer ton mdp ? <%= button_to "Retourner sur mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <%= link_to "Retour", :back %>
  </body>
</html>