<html lang="en">
    <header class="text-center">
        <h2><FONT color="#263238">Salut <%= @user.first_name %>, bienvenue parmi nous ! </FONT></h2>
    </header>
    <p></p>
    <body>
        <h5> Voici les infos te concernant &#10549;&#65039;</h5>
        <p></p>
        <p>	&#10024; Ton nom et prénom : <%= @user.first_name %><%= @user.last_name %></p>
        <p>	&#10024; L'email associé à ton compte : <%= @user.email %></p>
        <p>	&#10024; Ta description : <%= @user.description %></p>
        <p>	&#10024; Les événements auxquels tu participes : <%= @user.description %></p>
        <p>	&#10024; Les événements que tu as créé : <%= @user.description %></p>
        <p><a href="/" class="btn btn-primary">Retour</a></p>
    </body>
</html>